.test{
    text-align: center;
}
.test #test{
    color: red;
}
.test #test2{
    color: black;
}
.test #test3{
    color: rgba(6, 160, 45, 0.932);
}
#soso{
    border: 3px solid rgb(47, 48, 42);
}
#user{
    border: 3px solid rgb(47, 48, 42);
}
#shs{
        border: 3px solid rgb(47, 48, 42);
}
#demo{
    border: 3px solid rgb(47, 48, 42);
}
.demo:hover{
    color: aliceblue;
    background-color: rgb(42, 165, 63);
}
.semo:hover{
    color: aliceblue;
    background-color: rgb(204, 170, 60);
}
.remo:hover{
    background-color: aqua;
}
.nemo:hover{
    background-color: blue;
}
.lemo:hover{
    color: aliceblue;
    background-color: rgb(4, 4, 110);
}